*.class
*.log
*.pyc
build/*.jar

# sbt specific
.cache/
.history/
.idea/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# sphinx
python/doc_gen

# editor backups
*~
